BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakArrays: false

AllowShortFunctionsOnASingleLine: Inline
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: false
AllowShortCompoundRequirementOnASingleLine: true

ColumnLimit: 120
NamespaceIndentation: Inner
AccessModifierOffset: -2
EmptyLineBeforeAccessModifier: Never

AlignTrailingComments: true
SpacesBeforeTrailingComments: 1
SpaceBeforeParens: ControlStatementsExceptControlMacros
SpaceBeforeInheritanceColon: true
ConstructorInitializerIndentWidth: 2

AlwaysBreakAfterReturnType: None

PackConstructorInitializers: NextLineOnly
BreakConstructorInitializers: BeforeColon

BinPackParameters: false
BinPackArguments: false
AllowAllArgumentsOnNextLine: false
Cpp11BracedListStyle: false
AlignAfterOpenBracket: AlwaysBreak
AlwaysBreakTemplateDeclarations: Yes

ReflowComments: false
SortIncludes: true
KeepEmptyLinesAtTheStartOfBlocks: true

BreakBeforeBraces: Attach
BraceWrapping:
  BeforeElse: false
  BeforeWhile: false
  BeforeLambdaBody: false
  BeforeCatch: true

AlignConsecutiveAssignments:
  Enabled: true
  AlignCompound: true
  PadOperators: false

AlignConsecutiveDeclarations: Consecutive